<span>
    {% if pointsDivers|length > 0 %}
        <table class="table table-bordered table-striped">
            {% for points in pointsDivers %}
                <tr>
                    <td>{{ points['name'] }}</td>
                    <td>{{ points['value'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</span>