<span>
    {% if presences|length > 0 %}
        <table class="table table-bordered table-striped">
            {% for presence in presences %}
                <tr>
                    <td {% if presence['presence'] < 50 %}style="background-color: #F74747"{% endif %}>
                        {{ presence['matiere'] }}
                    </td>
                    <td {% if presence['presence'] < 50 %}style="background-color: #F74747"{% endif %}>
                        {{ presence['presence'] }} %
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</span>