.has-feedback {
    position: relative;
}
.has-feedback .form-control {
    padding-right: 42.5px;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.input-lg + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px;
}
.input-sm + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.has-success .form-control-feedback {
    color: #3c763d;
}

.has-error .form-control-feedback {
    color: #a94442;
}